.heading {
    /* color: green; */
    /* background-color: yellow; */
    /* text-align: center; */
    font-size: 25px;

     }
.pack {

     font-size: 25px;
     background-color: blueviolet; 
     /* text-align:center; */
     margin-bottom: 30px;
     border: 10px solid green;
     width: 40%;
     height: 400px;
     background-size: cover;
     background-image: url(../clock.png.png);
     background-position: bottom;
}